@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{

}

main {
    
}

header {
    background-color: #320606;
    display: flex;
    justify-content: space-around;
}

header h1 {
    font-family:"Nunito", sans-serif ;
    color: #ac0d0d;
    height: 80px;
}

.jordan {
    width: 90px;

}