@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
}

main {
    
}

header {
    background-color: #320606;
    display: flex;
    justify-content: space-around;
    height: 90px;
}

header h1 {
    position: relative;
    top: 20px;
    font-family:"Nunito", sans-serif ;
    color: #ac0d0d;
}

.jordan {
    position: relative;
    top: 20px;
    width: 70px;
    height: 70px;

}

